@import "./variables";

.card {
  border: 1px solid $light;
  box-shadow: 0 0 1rem #0001;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  border-radius: $radius;
  h1 {
    font-size: 2.5rem;
  }
}
.nospace {
  padding: 0;
}

.container {
  width: 100vw;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  header {
    margin-bottom: 3rem;
  }
  aside {
    margin-bottom: 3rem;
  }
  main {
    margin-bottom: 3rem;
    .card {
      max-height: 50vh;
      overflow-y: auto;
      width: 100%;
      form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $light;
        padding: 1.5rem;
        select {
          min-width: 10rem;
          margin-right: 1rem;
        }
      }
      table {
        width: 100%;
        td {
          padding: 1.2rem 1.5rem;
          border-bottom: 1px solid $light;
        }
        thead {
          font-weight: bold;
        }
      }
    }
  }
  section {
    display: flex;
    flex-direction: row;
    .chart {
      padding: 1rem;
      width: 50%;
    }
  }
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  span {
    font-weight: bold;
  }
}

.recovered {
  background: $primary;
  color: #fff;
  &:hover {
    cursor: pointer;
    opacity: 0.75;
  }
}
